@import "./catppuccin-mocha.scss";

* {
    all: unset;
}

.main-bar, .secondary-bar {
    background: $base;
    color: $text;
    font-family: Roboto, Symbols Nerd Font, Noto Sans JP;
    font-weight: bold;
    font-size: 16px;
}

.widget {
    border-radius: 24px;
}

.widget:hover {
    background-color: black;
}

.workspaces button {
    padding: 2px 16px;
}

.workspaces button:hover {
    background: $surface0;
    color: $teal;
}

.workspaces button.current {
    background: $base;
    color: $pink;
}

.date, .volume, .battery-status {
    padding: 2px 16px;
}

.battery-status {
    color: $maroon;
}

.volume {
    color: $teal;
}