@import "./catppuccin-mocha.css";

/* reset */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

#waybar {
    background: @base;
    font-family: Roboto, Symbols Nerd Font, Noto Sans CJK JP, Noto Sans CJK KR;
    font-weight: bold;
    color: @text;
    font-size: 16px;
}

tooltip {
    background: @mantle;
    border: 2px solid @surface0;
    color: @text;
}

.modules-left {
    padding-left: 10px;
}

.modules-right {
    padding-right: 10px;
}

#tray {
    margin-right: 5px;
    padding: 4px;
}

#custom-player {
    color: @mauve;
}

#workspaces {
    padding: 0px;
}

#workspaces button {
    padding: 1px 6px;
    color: @text
}

#workspaces button.active {
    color: @peach;
}

#workspaces button.urgent {
    color: @red;
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    background: transparent;
}

#workspaces button:hover.active {
    background: transparent;
}

#workspaces button:hover:not(.active) {
    color: white;
}

#clock {
    color: @yellow;
}

#wireplumber {
    padding: 3px;
    color: @flamingo;
}

#battery {
    padding: 3px;
    color: @sapphire;
    margin-right: 5px;
}